<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>轮播.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>197A47AC1E59DC9B008E7995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197A47C51E59DC9B008E7995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197A47D01E59DC9B008E7995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
